
  
  .whatsapp-floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: opacity 0.3s;
  }
  
  .whatsapp-floating-button button {
    background-color: #25d366;
    color: #141313;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .whatsapp-floating-button button img {
    width: 20px;
    height: 20px;
  }
  

  
  .hidden {
    display: none;
  }
  