.brand-fade-in-enter {
    opacity: 0;
    transform: translateY(10px);
  }
  
  .brand-fade-in-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all ease-in-out 500ms;
  }
  