.logo {
    width: 200px; /* Set the desired width for your logo */
    height: auto; /* Maintain the aspect ratio */
    margin: 20px; /* Add some margin around the logo */
     /* Set the maximum height to fit within the navbar */
    display: block; /* Ensure block-level display to handle margin properly */
   
  }
  